#sidebar-first .block-donde-custom {
  padding: 0px;
}
#category-list input {
  float: left;
  display: block;
}
#category-list label {
  margin-left: 1.5em;
  margin-right: 1.5em;
  display: block;
}

#category-list li {
  list-style: none;
  clear: both;
}

#category-list li {
  margin-bottom: 1.5em;
}

#category-list-admin {
  margin: 1em;
}

#colorbox {
  border: 1px #222 solid;
  background: #FFF;
  padding: 2em;
}

#colorbox .field-name-field-coordinates {
  float: left;
  margin-right: 1em;
}


